.c-detail {
    padding: 0 10px;
}

.m-title {
    .mt(10px);
    .mb(15px);
    .pl(5px);

    .u-title,
    .u-private {
        .dbi;
        vertical-align: bottom;
        margin: 0;
    }

    .u-title {
        font-size: 28px;
    }

    .u-private {
        .ml(10px);
        padding: 5px 14px;
        .br(3px);
        background-color: #666666;
        color: #ffffff;
        font-size: 12px;
    }
}

.m-description {
    text-indent: 2em;
}

.m-post {
    .db;
    .mt(10px);
    padding: 8px 10px;
    // border: 1px solid #6c645c;
    font-size: 14px;
    line-height: 24px;
    // color: #333333;
    .br(4px);
    transition: background-color 0.3s ease, border-color 0.3s ease;

    background-color: #fcfbff;
    border-color: blueviolet;

    &:hover {
        background-color: #fcfbff;
        border-color: blueviolet;
    }

    .m-post-user,
    .m-post-title,
    .m-post-type,
    .u-avatar,
    .u-nickname {
        .dbi;
        vertical-align: middle;
    }

    .m-post-updated,
    .u-post-custom {
        .fr;
    }

    .m-post-user,
    .m-post-title {
        &:after {
            content: "-";
            .ml(5px);
            .mr(5px);
        }
    }

    .u-avatar {
        .w(20px);
        .h(20px);
        .mr(5px);
        object-fit: cover;
        .br(2px);
    }

    .m-post-title {
        i {
            .mr(5px);
            font-size: 16px;
        }
    }

    .m-post-type {
        color: #aaaaaa;
        font-size: 12px;
    }

    .m-post-updated {
        color: #888888;
        font-size: 12px;
    }

    .u-post-custom {
        color: orangered;
        font-size: 12px;
    }
}

.m-tags {
    padding: 0 10px;
    font-size: 14px;

    .u-tags-title {
        .dbi;.y(top);
        .fz(13px,22px);

        i{
            .mr(4px);
        }
    }
}

.u-tags {
    .dbi;
    vertical-align:top;
    margin: 0 0 0 15px;
    padding: 0;
    list-style: none;
    overflow: hidden;

    .u-tag{
        .fl;
        margin-right: 5px;
        padding: 2px 6px 4px;
        font-size: 12px;
        background-color: #f2f6fc;
        color: #637a9c;
    }
}
@media screen and (max-width:@phone){
    .u-tags{
        .db;
        .ml(0);
    }
    .u-tag{
        .mt(8px);
    }
}

.m-comments {
    // .mt(50px);
    margin:40px 10px 0 10px;
}

.m-collection-detail-header{
    .pr;
}
.m-collection-detail-panel{
    .pa;
    right:0;
    bottom:20px;
}
@media screen and (max-width:@phone){
    .m-collection-detail-panel{
        .ps;
    }
}

.m-collection-detail-content {
    .pr;
    padding:0 10px;
    .u-description {
        .fz(13px,2);
        padding:0 10px;
        .mb(40px);
    }

    .u-list{
        // background-color: #fcfbff;
        // border-color: blueviolet;
        list-style: none;
        padding:0 5px;
    }

    .u-item{
        .db;
        border-bottom:1px solid #eee;
        .mb(10px);

        .fz(14px);
        padding:10px 0;

        a:hover{
            color:@pink;
        }

        .u-item-order{
            .mr(10px);
            color:#999;
        }

        .u-item-link{
            background-color:#aaa;
            color:#fff;
            .fz(12px);
            padding:3px 5px;
            .r(2px);
            .mr(5px);
        }

        .u-updated{
            .fr;
            .fz(12px);
            color:#999;
        }

        .u-item-author{
            img{
                .y;
                .r(2px);
                .mr(3px);
            }
        }
        .u-avatar{
            .size(20px);
        }
        .u-div{
            padding:0 10px;
            color:#aaa;
        }
    }

}

@media screen and (max-width:@phone){
    .m-collection-detail{
        .u-item-author,.u-updated{
            .none;
        }
        .m-single-info .u-id{
            .none;
        }
    }
}

.m-thx{margin-top:20px;}